{% from 'navbar.html' import navbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% block styles %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
  {% block navbar %}
    {{ navbar(active_nav_item) }}
  {% endblock %}
  <div id="content" class="container">
    <br>
    {% block content %}
    {%- endblock %}
  </div>
  {% block footer %}
    <br>
    <footer class="footer">
      <hr>
      <p class="text-center text-muted">
        Wine Dataset
      </p>
    </footer>
  {% endblock %}
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  {% endblock %}
  </body>
</html>
